// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post-index {
  .header {
    width: 100%;
    height: 310px;
    background: #d77272;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);

    .header-title {
      font-size: 100px;
      line-height: 310px;
      font-family: "Rubik Mono One";
      color: #fdeb4e;
      letter-spacing: 0.1em;
      text-align: center;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
